$bg: #fff;
$text-colour: #000;
$highlight-colour: #707;

$spacer: 4px;
@media(orientation:portrait) {
    $spacer: 4px;
}

$max-width:1280px;
$breakpoint-1-width:1080px;
$breakpoint-2-width:768px;

$font-size: 16px;
$font-size-l: $font-size*1.5;

/* sans-serif font styles */
@mixin sansItalic() {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
}
@mixin sansItalicLarge() {
    @include sansItalic();
    font-size:$font-size-l;    
}

/* serif font styles */
@mixin serifBoldItalic() {
    font-weight: 700;
    font-style: italic;
}
@mixin serifBoldItalicLarge() {
    @include serifBoldItalic();
    font-size: $font-size-l;
}