/* ~~~~~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~~~~~ */

body {
    min-height:100vh;
    width:96vw;
    overflow-x: hidden;
    padding: 0 2vw 0 2vw;

    font-family:'Courier New', Courier, monospace;
    font-size:10pt;

    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

@media (orientation: portrait) {
    body {
        font-size: 20pt;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~ Header/footer ~~~~~~~~~~~~~~~~~~~~ */

header, footer {
    width: 95vw;
    margin: 0.5vw;

    box-sizing:border-box;
    border-style:solid;
    border-width:1px;

    background: repeating-linear-gradient(
        -45deg,
        #fff,
        #fff 10px,
        #e2e2e2 10px,
        #e2e2e2 20px
      );    
}
header {
    padding: 1vw;
}
footer {
    padding: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~ h1, h2, h... ~~~~~~~~~~~~~~~~~~~~ */

h1 {
    font-size:200%;
    font-weight:bold;
}

/* ~~~~~~~~~~~~~~~~~~~~ nav ~~~~~~~~~~~~~~~~~~~~ */

nav button, nav h2, nav ul{
    display:inline;
}
nav button {
    font-size: 100%;
}
nav li {
    display:inline;
}
nav li:before {
    content: " ~ ";
}
.collapsible-content {
    margin: 0.5vw;
    padding: 0.5vw;

    box-sizing:border-box;
    border-style:solid;
    border-width:1px;

    display:none;
}

/* ~~~~~~~~~~~~~~~~~~~~ gallery ~~~~~~~~~~~~~~~~~~~~ */

#gallery {
    width:95vw;
    margin: 0.5vw;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery .gallery-image-box {
    flex-grow:1;
    margin: 0.5vw;
    display: flex;
    align-items: center;
}

@media (orientation: landscape) {
    #gallery .gallery-image-box {
        flex-basis:32%;
    }
}

@media (orientation: portrait) {
    #gallery .gallery-image-box {
        flex-basis:48%;
    }
}

#gallery img {
    max-width:100%;
    max-height:70vh;

    display: block;
    margin-left: auto;
    margin-right: auto;

    opacity:0;
    transition: opacity 2s;
}

/* ~~~~~~~~~~~~~~~~~~~~ contact ~~~~~~~~~~~~~~~~~~~~ */

#contact-details {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

#contact-details h1 {
    margin: 2vw;
}

#contact-details ul {
    list-style-type: none;
}

#contact-details ul li::before {
    content: " ~ "
}